body h3,
h5,
h4 {
  margin: 0;
  font-family: "Bungee Inline", cursive;
}

img {
  border-radius: 15px;
  box-shadow: 5px 5px #cfcdcd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.feedImage {
  height: 180px;
  width: 255px;
}
